<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817789442256-pffkv287phabec4msdqbn4srb8irg9j4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817789442256-pffkv287phabec4msdqbn4srb8irg9j4</string>
	<key>API_KEY</key>
	<string>AIzaSyBtcZq-GjXflNDC4IipPdRpE_kDpY2JZLM</string>
	<key>GCM_SENDER_ID</key>
	<string>817789442256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scott.UberApp</string>
	<key>PROJECT_ID</key>
	<string>uber-8a86e</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-8a86e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817789442256:ios:f035fce28b988e276726d5</string>
	<key>DATABASE_URL</key>
	<string>https://uber-8a86e.firebaseio.com</string>
</dict>
</plist>